<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <title><%= title %></title>
</head>
<body>

    <h1><%= header %></h1>
    
    <p>[ username ]</p>
    <input type="text" name="username" id="">
    <p>[ password ]</p>
    <input type="password" name="password" id="">

    <a href="/register">enginn aðgangur?</a>

</body>
</html>