<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <title><%= title %></title>
</head>
<body>

    <h1><%= header %></h1>

    <table>
        <tr>
            <td><p>[ username ]</p></td>
            <td>
                <input type="text" name="username" id="">
            </td>
        </tr>

        <tr>
            <td><p>[ email ]</p></td>
            <td>
                <input type="email" name="email" id="">
            </td>
        </tr>

        <tr>
            <td><p>[ password ]</p></td>
            <td>
                <input type="password" name="password" id="">
            </td>
        </tr>

        <tr>
            <td><p>[ fn ]</p></td>
            <td>
                <input type="text" name="fn" id="">
            </td>
        </tr>

        <tr>
            <td><p>[ ln ]</p></td>
            <td>
                <input type="text" name="ln" id="">
            </td>
        </tr>
    </table>

</body>
</html>